
<div class="login-form-area">
  <div class="container">
    <img src="../assets/img/logo.png" class="logo"/>
      <h2 class="login-form-title">لوحة تحكة - إنجكو تولز<br /> تسجيل الدخول</h2>
      <div class="row">
        <div class="col-sm-5 col-xs-12 centrlize">
          <div class="login-right-form">
              <div class="create-account">
                  <div class="form-desc">
                      <p>الرجاء إدخال البريد الإلكتروني وكلمة المرور!</p>
                  </div>
                  <form name="form"  ng-submit="mc.login()" role="form" class="sign-up" data-toggle="validator">
                      <div class="form-group has-feedback" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                          <label for="username">البريد الإلكتروني</label>
                          <input type="email" class="form-control" name="username" id="username" ng-model="mc.username" required>
                          <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">يرجى إدخال البريد الإلكتروني</span>
                      </div>
                      <div class="form-group has-feedback" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                          <label for="password">كلمة المرور</label>
                          <input type="password" class="form-control" name="password" id="password" ng-model="mc.password" required>
                          <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">يرجى إدخال كلمة المرور</span>
                      </div>
                      <div class="sign-up-btn login-btn form-actions">
                        <button type="submit" ng-disabled="form.$invalid || mc.dataLoading" class="btn btn-primary fll">تسجيل الدخول</button>
                          <img ng-if="mc.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                      </div>
                  </form>
              </div>
          </div>
        </div>
      </div>
  </div>
</div>
